<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
    </Console>

    <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app.%d{dd-MMM}.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
          <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %m%n</Pattern>
      </PatternLayout>
      <Policies>
          <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>         
  </appenders>

  <loggers>     
    <root level="debug">
      <appender-ref ref="Console" level="info"/>
      <appender-ref ref="RollingFile" level="trace"/>
    </root>    
  </loggers>
</configuration>